<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="HospitalSettings" type="UpdateTool.HospitalSettings, UpdateTool" />
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <HospitalSettings>
    <Hospitals>
      <clear />
      <add KEY="CL_DEV" VALUE="server=10.14.140.31;database=HOANMY_CUULONG_HIS;user id=sa;password=P@ssword123;Connect Timeout=30;"
   BENHVIEN_ID="92088" TEXT="CUU LONG DEV" />
      <add KEY="CL_PRO" VALUE="server=10.8.17.81;database=HOANMY_CUULONG_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="92088" TEXT="CUU LONG PRO" />
      <add KEY="CL_STA_HIS" VALUE="server=10.24.10.28;database=HOANMY_CUULONG_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="92088" TEXT="Cửu Long STA" />
      <add KEY="DL_PRO_HIS" VALUE="server=10.8.18.33;database=HOANMY_DALAT_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="68038" TEXT="Đà Lạt PRO" />
      <add KEY="DL_STA_HIS" VALUE="server=10.25.10.37;database=HOANMY_DALAT_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="68038" TEXT="Đà Lạt STA" />
      <add KEY="DN_PRO_HIS" VALUE="server=10.8.19.33;database=HOANMY_DANANG_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="48072" TEXT="Đà Nẵng PRO" />
      <add KEY="DN_STA_HIS" VALUE="server=10.22.10.36;database=HOANMY_DANANG_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="48072" TEXT="Đà Nẵng STA" />
      <add KEY="SG_PRO_HIS" VALUE="server=10.8.20.67;database=HOANMY_SAIGON_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79071" TEXT="Sài Gòn PRO" />
      <add KEY="SG_STA_HIS" VALUE="server=10.20.10.107;database=HOANMY_SAIGON_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79071" TEXT="Sài Gòn STA" />
      <add KEY="MAT_PRO_HIS" VALUE="server=10.8.18.33;database=HOANMY_MAT_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79976" TEXT="Mắt PRO" />
      <add KEY="MAT_STA_HIS" VALUE="server=10.34.10.19;database=HOANMY_MAT_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79976" TEXT="Mắt STA" />
      <add KEY="VINH_PRO_HIS" VALUE="server=10.8.18.33;database=HOANMY_VIH_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="40574" TEXT="Vinh PRO" />
      <add KEY="VINH_STA_HIS" VALUE="server=10.28.10.12;database=HOANMY_VIH_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="40574" TEXT="Vinh STA" />
      <add KEY="THUDUC_PRO_HIS" VALUE="server=10.8.21.65;database=HOANMY_THUDUC_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79643" TEXT="Thủ Đức PRO" />
      <add KEY="THUDUC_STA_HIS" VALUE="server=10.36.10.15;database=HOANMY_THUDUC_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79643" TEXT="Thủ Đức STA" />
      <add KEY="VANPHUC_PRO_HIS" VALUE="server=10.8.21.65;database=HOANMY_VANPHUC2_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="74183" TEXT="Vạn Phúc 2 PRO" />
      <add KEY="VANPHUC_STA_HIS" VALUE="server=10.29.130.22;database=HOANMY_VANPHUC2_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="74183" TEXT="Vạn Phúc 2 STA" />
      <add KEY="DONGNAI_STA_HIS" VALUE="server=10.27.10.24\MSSQLSERVER01;database=HOANMY_DONGNAI_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="75263" TEXT="Đồng Nai STA" />
      <add KEY="DONGNAI_PRO_HIS" VALUE="server=10.8.22.71;database=HOANMY_DONGNAI_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="75263" TEXT="Đồng Nai PRO" />
      <add KEY="BINHDUONG_PRO" VALUE="server=10.8.21.65;database=HOANMY_BINHDUONG_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="74175" TEXT="Bình Dương PRO" />
      <add KEY="BINHDUONG_STA" VALUE="server=10.29.10.19;database=HOANMY_BINHDUONG_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="74175" TEXT="Bình Dương STA" />
      <add KEY="BINHDUONGC_PRO" VALUE="server=10.8.21.65;database=HOANMY_BINHDUONGCLINIC_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="74182" TEXT="Bình Dương C PRO" />
      <add KEY="BINHDUONGC_STA" VALUE="server=10.29.10.19;database=HOANMY_BINHDUONGCLINIC_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="74182" TEXT="Bình Dương C STA" />
      <add KEY="PANDORA_PRO" VALUE="server=10.8.22.71;database=HOANMY_PANDORA_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79643" TEXT="PANDORA PRO" />
      <add KEY="TMSGC" VALUE="server=10.23.10.32;database=HOANMY_TMSGC_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79464" TEXT="TMSGC STA" />
      <add KEY="TMSGC PRO" VALUE="server=10.8.22.71;database=HOANMY_TMSGC_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79464" TEXT="TMSGC PRO" />
      <add KEY="HMMH_STA" VALUE="server=10.26.10.32;database=HOANMY_HMMH_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="96144" TEXT="MINH HẢI STA" />
      <add KEY="HMMH_PRO" VALUE="server=10.8.22.71;database=HOANMY_HMMH_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="96144" TEXT="MINH HẢI PRO" />
      <add KEY="PANDORA_STA" VALUE="server=10.20.10.137;database=HOANMY_PANDORA_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79999" TEXT="PANDORA STA" />
      <add KEY="PADORA_PRO" VALUE="server=10.8.22.71;database=HOANMY_PANDORA_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79999" TEXT="PANDORA PRO" />
      <add KEY="HMTDM_PRO" VALUE="server=10.8.23.76;database=HOANMY_TMTDM_HIS;user id=fpt-support;password=fpt@123456;Connect Timeout=30;"
        BENHVIEN_ID="74174" TEXT="HMTDM PRO" />
      <add KEY="HMTDM_STA" VALUE="server=10.30.10.36;database=HOANMY_TMTDM_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="74174" TEXT="HMTDM STA" />
      <add KEY="TMITO_PRO" VALUE="server=10.8.23.76;database=HOANMY_DONGNAI_ITO_HIS;user id=fpt-support;password=fpt@123456;Connect Timeout=30;"
        BENHVIEN_ID="75266" TEXT="TMITO PRO" />
      <add KEY="TMITO_STA" VALUE="server=10.32.10.34;database=HOANMY_DONGNAI_ITO_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="75266" TEXT="TMITO STA" />
      <add KEY="PHU_YEN_PRO" VALUE="server=192.168.30.15\sql2019;database=PHUYEN_PRO_HIS;user id=admin;password=P@ssword;Connect Timeout=30;"
        BENHVIEN_ID="79725" TEXT="PHU YÊN PRO" />
    </Hospitals>
  </HospitalSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>