<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="HospitalSettings" type="UpdateTool.HospitalSettings, UpdateTool" />
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <HospitalSettings>
   <Hospitals>
      <clear />
      <add KEY="CL_DEV" VALUE="server=10.14.140.31;database=HOANMY_CUULONG_HIS;user id=sa;password=P@ssword123;Connect Timeout=30;"
        BENHVIEN_ID="92088" TEXT="CUU LONG DEV" />
      <add KEY="CL_PRO" VALUE="server=10.8.17.81;database=HOANMY_CUULONG_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="92088" TEXT="Cửu Long PRO" />
      <add KEY="CL_STA_HIS" VALUE="server=10.24.10.28;database=HOANMY_CUULONG_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="92088" TEXT="Cửu Long STA" REPORT_PATH="\\10.24.10.24\E$\WebHosting\HMCL_STAGGING\Resources\Reports\92088" />
      <add KEY="DL_PRO_HIS" VALUE="server=10.8.18.33;database=HOANMY_DALAT_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="68038" TEXT="Đà Lạt PRO" />
      <add KEY="DL_STA_HIS" VALUE="server=10.25.10.37;database=HOANMY_DALAT_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="68038" TEXT="Đà Lạt STA" REPORT_PATH="\\10.25.10.36\D$\WebHosting\HMDL_STAGGING\Resources\Reports\68038" />
      <add KEY="DN_PRO_HIS" VALUE="server=10.8.19.33;database=HOANMY_DANANG_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="48072" TEXT="Đà Nẵng PRO" />
      <add KEY="DN_STA_HIS" VALUE="server=10.22.10.36;database=HOANMY_DANANG_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="48072" TEXT="Đà Nẵng STA" REPORT_PATH="\\10.22.10.37\E$\WebHosting\HMDN_STAGGING\Resources\Reports\48072" />
      <add KEY="SG_PRO_HIS" VALUE="server=10.8.20.67;database=HOANMY_SAIGON_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79071" TEXT="Sài Gòn PRO" />
      <add KEY="SG_STA_HIS" VALUE="server=10.20.10.107;database=HOANMY_SAIGON_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79071" TEXT="Sài Gòn STA" REPORT_PATH="\\10.20.10.105\D$\WebHosting\HOANMY_SAIGON_STAGGING\Resources\Reports\79071" />
      <add KEY="MAT_PRO_HIS" VALUE="server=10.8.18.33;database=HOANMY_MAT_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79976" TEXT="Mắt PRO" />
      <add KEY="MAT_STA_HIS" VALUE="server=10.34.10.19;database=HOANMY_MAT_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79976" TEXT="Mắt STA" REPORT_PATH="\\10.34.10.18\E$\WebHosting\HOANMY_IEH\Resources\Reports\79976" />
      <add KEY="VINH_PRO_HIS" VALUE="server=10.8.18.33;database=HOANMY_VIH_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="40574" TEXT="Vinh PRO" />
      <add KEY="VINH_STA_HIS" VALUE="server=10.28.10.12;database=HOANMY_VIH_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="40574" TEXT="Vinh STA" REPORT_PATH="\\10.28.10.13\C$\WebHosting\HMVIH\Resources\Reports\40574" />
      <add KEY="THUDUC_PRO_HIS" VALUE="server=10.8.21.65;database=HOANMY_THUDUC_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79643" TEXT="Thủ Đức PRO" />
      <add KEY="THUDUC_STA_HIS" VALUE="server=10.36.10.15;database=HOANMY_THUDUC_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79643" TEXT="Thủ Đức STA" />
      <add KEY="VANPHUC_PRO_HIS" VALUE="server=10.8.21.65;database=HOANMY_VANPHUC2_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="74183" TEXT="Vạn Phúc 2 PRO" />
      <add KEY="VANPHUC_STA_HIS" VALUE="server=10.29.130.22;database=HOANMY_VANPHUC2_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="74183" TEXT="Vạn Phúc 2 STA" />
      <add KEY="DONGNAI_STA_HIS" VALUE="server=10.27.10.24\MSSQLSERVER01;database=HOANMY_DONGNAI_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="75263" TEXT="Đồng Nai STA" />
      <add KEY="DONGNAI_PRO_HIS" VALUE="server=10.8.22.71;database=HOANMY_DONGNAI_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="75263" TEXT="Đồng Nai PRO" />
      <add KEY="BINHDUONG_PRO" VALUE="server=10.8.21.65;database=HOANMY_BINHDUONG_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="74175" TEXT="Bình Dương PRO" />
      <add KEY="BINHDUONG_STA" VALUE="server=10.29.10.19;database=HOANMY_BINHDUONG_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="74175" TEXT="Bình Dương STA" />
      <add KEY="TMSGC_STA" VALUE="server=10.23.10.32;database=HOANMY_TMSGC_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79464" TEXT="TMSGC STA" />
      <add KEY="TMSGC PRO" VALUE="server=10.8.22.71;database=HOANMY_TMSGC_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79464" TEXT="TMSGC PRO" />
      <add KEY="HMMH_STA" VALUE="server=10.26.10.32;database=HOANMY_HMMH_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="96144" TEXT="MINH HẢI STA" />
      <add KEY="HMMH_PRO" VALUE="server=10.8.22.71;database=HOANMY_HMMH_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="96144" TEXT="MINH HẢI PRO" />
      <add KEY="PANDORA_STA" VALUE="server=10.39.10.23;database=HOANMY_PANDORA_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79765" TEXT="PANDORA STA" />
      <add KEY="PADORA_PRO" VALUE="server=10.8.22.71;database=HOANMY_PANDORA_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79765" TEXT="PANDORA PRO" />
      <add KEY="HMTDM_PRO" VALUE="server=10.8.23.76;database=HOANMY_TMTDM_HIS;user id=fpt-support;password=fpt@123456;Connect Timeout=30;"
        BENHVIEN_ID="74174" TEXT="HMTDM PRO" />
      <add KEY="HMTDM_STA" VALUE="server=10.30.10.36;database=HOANMY_TMTDM_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="74174" TEXT="HMTDM STA" />
      <add KEY="TMITO_PRO" VALUE="server=10.8.23.76;database=HOANMY_DONGNAI_ITO_HIS;user id=fpt-support;password=fpt@123456;Connect Timeout=30;"
        BENHVIEN_ID="75266" TEXT="TMITO PRO" />
      <add KEY="TMITO_STA" VALUE="server=10.32.10.34;database=HOANMY_DONGNAI_ITO_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="75266" TEXT="TMITO STA" />
      <add KEY="BINHPHUOC_PRO" VALUE="server=10.8.23.76;database=HOANMY_BINHPHUOC_HIS;user id=fpt-support;password=fpt@123456;Connect Timeout=30;"
        BENHVIEN_ID="70079" TEXT="Bình Phước PRO" />
      <add KEY="BINHPHUOC_STA" VALUE="server=10.31.10.36;database=HOANMY_BINHPHUOC_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="70079" TEXT="Bình Phước STA" />
      <add KEY="GOVAP_STA" VALUE="server=10.35.10.30;database=HOANMY_GOVAP_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79517" TEXT="Gò Vấp STA" />
      <add KEY="PXL_STAG" VALUE="server=10.37.10.36;database=HOANMY_GOLDPXL_HIS;user id=installer01-fpt;password=$v$ZMjnh7La26a;Connect Timeout=30;"
        BENHVIEN_ID="79F38" TEXT="PLX STAG" />
      <add KEY="PHU_YEN_PRO" VALUE="server=192.168.30.15\sql2019;database=PHUYEN_PRO_HIS;user id=admin;password=P@ssword;Connect Timeout=30;"
        BENHVIEN_ID="79725" TEXT="PHU YÊN PRO" />
      <add KEY="GOVAP_PRO" VALUE="server=10.8.23.76;database=HOANMY_GOVAP_HIS;user id=fpt-support;password=fpt@123456;Connect Timeout=30;"
        BENHVIEN_ID="79517" TEXT="Gò Vấp PRO" />
      <add KEY="GIAAN_STAG" VALUE="server= 172.16.1.48;database=GIAAN115_HIS;user id=his_fpt;password=Gia@n115fpt;Connect Timeout=300;"
        BENHVIEN_ID="79616" TEXT="GIA AN STAG" />
      <add KEY="TMHH_STAG" VALUE="server=192.168.1.115\SQL2019;database=HIS2_TMHH_HIS;user id=ehospital;password=TMHH!@#123456;Connect Timeout=30;"
        BENHVIEN_ID="79071" TEXT="TMHH STAG" />
      <add KEY="TMHH_TEST" VALUE="server=10.86.222.104;database=HIS2_TMHH_TEST_HIS;user id=admin;password=123456;Connect Timeout=30;"
        BENHVIEN_ID="79071" TEXT="TMHH TEST" />
    </Hospitals>
  </HospitalSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>